@use "../variables" as *;
@use "../mixins" as *;

.thankyou {
    background: url('../../assets/images/our-story-bg.webp') no-repeat center/cover,
                url('../../assets/images/base-our-story-bg.webp') no-repeat bottom/cover;
    max-width: 500px;
    width: 100%;
    aspect-ratio: 500 / 890;

    h2 {
        font-size: 20.8px;
        font-weight: 300;
        color: $secondary-color;
        margin-bottom: 10%;
    }

    .photo {
        max-width: 305px;
        width: 100%;
        aspect-ratio: 305 / 134;
        background-color: $secondary-color;
        margin-bottom: 7%;
    }
    .subtext {
        padding: 0 19%;
        .divider {
            margin-bottom: 6%;
            
            img {
                width: 26px;
                height: auto;
            }
        }

        .divider:last-child {
            img {
                transform: rotate(180deg);
            }
        }

        .text {
            text-align: justify;
            text-align-last: center;

            p {
                padding-bottom: 6%;
                line-height: 1.7;
            }
        }
    }

    @media (max-width: 500px) {
        h2 {
            font-size: 4.2vw;
        }
    
        .photo {
            max-width: 61vw;
        }

        .subtext {
            .divider {
                img {
                    width: 5.4vw;
                }
            }

            .text {
                p {
                    font-size: 1.85vw;
                }
            }
        }
    }
}
